.buttonsWrapper{
    border: 0.2vh solid lightsteelblue;
    width: 100%;
    height: 5vh;
}

.calculatorButtons{
    background-color: white;
    color: #6fa8aa;
    border: 0.2vh solid #6fa8aa;
    text-align: center;
}

.calculatorButtonsText{
    cursor: pointer;
    text-decoration: none;
    color: #6fa8aa;
    
}

.calculatorButtonsText2{
    cursor: pointer;
    text-decoration: none;
    color:white;
    
}

.calculatorButtons2{
    background-color: #6fa8aa;
    color: white !important;
    border: 0.2vh solid #6fa8aa; 
}

.headingText{
    font-size: 1.5rem;
    color: black;
}

.calcBodyText{
    font-size: 0.8rem;
    color: black;
}

.savingsSlider{
    margin-bottom:2vh; 
    padding:0vh;
}

.savingsCalcWrapper{
    margin: 2vh;
    padding: 2vh 2vh;
    border: 0.1rem solid black;
    background: #e6ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 75vh;
}

.welcomeScreenWrapper{
    margin: 2vh;
    padding: 2vh 2vh;
    border: 0.1rem solid black;
    background: #e6ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}

.headerLine{
    border-bottom: 0.5vh solid white; 
    margin: 0 3vh 2vh 3vh;
}

.calculateButton{
    padding: 1vh 1vh;
    border: 0.1rem solid black;
    width: 20vh;
    height: 6vh;
    background: white;
    background: -webkit-linear-gradient(white, beige); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, beige); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, beige); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, beige); /* Standard syntax */
    text-align: center;
    color: black;
    font-size: 1rem;
    margin: 0 auto;
    border-radius: 2vh;
    position: relative;
    
}

.buttonWrapper{
    text-align: center;
    padding-top: 1vh;
}

.roundbtn {
  display:block;
  background: #0db9f0;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  float: center;
  position: absolute;
}

.centerfloat{
  text-align: center;
  float: center;
  position: absolute;
}

#container{
    width:300px;
    height:100px;
    border:1px solid red;
    margin-right:10px;
    float:center;
}

.helpButton{
    float:right;
    margin-right:10vh;
}

.calcInput{
    font-size: 0.8em;
}

.savingsGoalWrapper{
text-align: center;
padding: 2vh;
}

.savingsGoalAmount{
    font-size: 1.5em;
    padding: 1vh;
}

.savingsTextWrapper{
    margin: 1vh;
}

.savingsGoalTimeWrapper{
    text-align: center;
    font-size: 1.5em;
    padding: 2vh;
}
