.buttonsWrapper{
    border: 0.2vh solid lightsteelblue;
    width: 100%;
    height: 5vh;
    border-radius: 1vh;
}

.calculatorButtons{
    background-color: white;
    color: #90b4d2;
    border: 0.2vh solid #90b4d2;
    text-align: center;
}

.calculatorButtonsText{
    cursor: pointer;
    text-decoration: none;
    color: #6fa8aa;
    
}

.calculatorButtonsText2{
    cursor: pointer;
    text-decoration: none;
    color:white;
    
}

.calculatorButtons2{
    background-color: #90b4d2;
    color: white !important;
    border: 0.2vh solid #90b4d2;
}

.headingText{
    font-size: 1rem;
    color: black;
    font-weight: bold;

    font-family: 'Helvetica', cursive;

}

.calcBodyText{
    font-size: 0.8rem;
    color: #696969;

}

.savingsSlider{
    margin-bottom:2vh; 
    padding:0vh;
    text-align: justify;
}

.savingsCalcWrapper{
    margin: 2vh;
    padding: 2vh 2vh;
    border: 0.1rem solid #90b4d2;
    background: #e6ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 75vh;
    border-radius: 2vh;
}

.welcomeScreenWrapper{
    margin: 2vh;
    padding: 2vh 2vh;
    border: 0.1rem solid black;
    background: #e6ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    border-radius: 2vh;
}

.headerLine{
    border-bottom: 0.3vh solid #DCDCDC; 
    margin: 0 3vh 2vh 3vh;
}

.calculateButton{
    padding: 1vh 1vh;
    border: 0.1rem solid black;
    width: 20vh;
    height: 6vh;
    background: white;
    background: -webkit-linear-gradient(white, beige); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, beige); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, beige); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, beige); /* Standard syntax */
    text-align: center;
    color: black;
    font-size: 1rem;
    margin: 0 auto;
    border-radius: 2vh;
    position: relative;
    
}

.buttonWrapper{
    text-align: center;
    padding-top: 1vh;
}

.roundbtn {
  display:block;
  color: white;
  height: 4vh;
  width: 2vw;
  border-radius: 50%;
  text-align: center;
  float: center;
  position: absolute;
  margin-left: 8vw;
}

.centerfloat{
  text-align: center;
  float: center;
  position: absolute;
}

#container{
    width:300px;
    height:100px;
    border:1px solid red;
    margin-right:10px;
    float:center;
}

.helpButton{
    float:right;
    margin-right:10vh;
}

.calcInput{
    font-size: 0.8em;
}

.savingsGoalWrapper{
text-align: center;
padding: 2vh;
}

.savingsGoalAmount{
    font-size: 1.5em;
    padding: 1vh;
}

.savingsTextWrapper{
    margin: 1vh;
}

.savingsGoalTimeWrapper{
    text-align: center;
    font-size: 1.5em;
    padding: 2vh;
}

.helpHeader{
    color: black; 
    text-align: center;
    font-size: 20px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 5px; 
}

.helpContent{
    color: black;
    font-size: 15px;
    font-family: 'Signika', sans-serif; 
}

.calcInput{
    border: 1px solid #C2C2C2;;
    margin-bottom: 4vh;
    padding: 1vw 3vw 1vw 5vw;
    border-radius: 1vh;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: white;
    font-size: 1.2em;
}

.calcTextAbove{
    margin-bottom: 2vh;
}

.calcIconWrapper{
    padding: 2vh;
    float:left;
    width: 80vw;
}

.calcIcon{
    float: left;
    margin-right: 5vw;
}

.calcText{
    margin: auto;
    padding-top: 5vh;
    font-size: 0.8rem;

}

.calcText2{
    margin: auto;
    padding-top: 3vh;
    font-size: 0.8rem;

}