.categoryTitle{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2vh;
    margin: 1vh 0vh 3vh 0vh;
    background: #90b4d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2vh;
   vertical-align:middle;
   border: 1px solid steelblue;
}

progress {

  border: 0;
  padding: 0vw 5vw;
}

progress::-webkit-progress-value {
 background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #ffff00, #66cc00);

    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    
    
}

/*MEDIA QUERIES*/
@media (min-width: 600px) {
.categoryTitle{
  margin: 2vh 5vh 5vh 5vh;
  padding-bottom: 1vh;
  font-size: 1.8rem;
}

progress {

  border: 0;
  padding: 0vw 8vw;
}
}
