/* Empty. Add your own CSS if you like */
.categoryDiv {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.categoryDiv:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.subcategoriesLink{
    text-decoration: none;
}

.modalCloseButton{
    color:darkred;
    font-size:3vh;
}

.centered{
    text-align: center;
}

.justified{
    text-align: justify;
}

.italic{
    font-style: italic;
}

.content-Title{
    color:darkred;
}

.content-Subtitle{
    color:darkred;
    text-align: center;
}

.content-Image{
    text-align: center;
}

.content-Link{
    color:darkred;
}

.content-Quiz{
	border-radius:28px;
	border:1px solid #18ab29;
	text-shadow:0px 1px 0px #2f6627;
}

.quiz-Answer-Display-Text{
    color: white !important;
    font-size: 1.1em;
}

.quiz-Answer-Display{
    max-height: 1000px;
    transition: .8s;
    overflow: hidden;
    white-space: initial;
}

.quiz-Answer-Display.hidden{
    max-height: 0;
}

.quiz-Answer-True-Container{
    background: #66b266;
}

.quiz-Answer-False-Container{
    background: #ea9388;
}

/*Source for embed CSS: https://avexdesigns.com/responsive-youtube-embed/*/
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}