.userProfileContainer {
    width: 80vw; 
    top: 20vh; 
    left: 10vw; 
    bottom: 20vh;
    min-height: 0% !important;
    box-shadow: 0 0 100px 10px rgba(0,0,0,0.9);
}

.userProfileHeading {
    background: #90b4d2;
}

.userProfileIcon {
    font-size: xx-large;
}

.userAvatars{
    float: left;
    text-align: center;
    padding-bottom: 2vh;
}


.changeAvatarSize{
    border-radius:50vh;
    max-width: 9vh;
    max-height: 10vh;
    border: 2px solid ghostwhite;
}
