.userProfileContainer {
    width: 80vw; 
    top: 20vh; 
    left: 10vw; 
    bottom: 20vh;
    min-height: 0% !important;
    box-shadow: 0 0 100px 10px rgba(0,0,0,0.9);
}

.userProfileHeading {
    background: #90b4d2;
}

.userProfileIcon {
    font-size: xx-large;
}

.userAvatars{
    float: left;
    text-align: center;
    padding-bottom: 2vh;
}

.closeAvatarButton{
        padding: 1vh 1vh;
        border: 0.1rem solid black;
        width: 20vh;
        height: 6vh;
        background: white;
        background: -webkit-linear-gradient(white, beige); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white, beige); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white, beige); /* For Firefox 3.6 to 15 */
        background: linear-gradient(white, beige); /* Standard syntax */
        text-align: center;
        color: black;
        font-size: 1rem;
        margin: 0 auto;
        border-radius: 2vh;
        position: relative;

    
}


.changeAvatarSize{
    border-radius:50vh;
    max-width: 9vh;
    max-height: 10vh;
    border: 2px solid ghostwhite;
}
