<div class="savingsCalcWrapper">

<div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{test}}</a>
    <div class="helpButton">
    <div class="roundbtn" style="border: 0px !important;"ng-click="openHelp()">
        <img src="img/help.png" alt="Calculators" style="width:4vh;height:4vh;">
    </div>
    
</div>

</div>

<div class="headerLine"></div>

<div></div>

<div class="savingsSlider">

    <div class="calcTextAbove">
    <a class="calcBodyText">How much have you currently saved?</a>

    </div>
        <div class="calcInput">
            <input type="number" placeholder="£" ng-model="currentlySaved" pattern="\d*" min="1">
        </div>
</div>

<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">What is your annual interest rate?</a>
    </div>
     <div class="calcInput">
            <input type="number" placeholder="%" ng-model="interestRate" min="0.01">
      
    </div>
</div>

<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">Calculation period?<span style="color: lightgrey"> (in years)</span></a>
    </div>
    <rzslider rz-slider-model="slider1.value"
          rz-slider-high="slider1.maxValue"
          rz-slider-options="slider1.options"></rzslider>
</div>




<button class="button button-block button-positive calculatorButtonTablet" ng-click="openInterestCalc()" ng-disabled="!interestRate || !currentlySaved">Calculate</button>


</div>