<ion-view view-title="{{name}}" ng-init="makeActive('welcome')">
    <ion-nav-buttons side="right">
      <button class="button" style="border: 0px !important;">
        <b class = "icon icon ion-calculator"></b>
      </button>
    </ion-nav-buttons>
    <ion-content class="padding" \>


    <div class = "dropDownBox" ng-click="openSelector()">
    Select a calculator
    
    </div>
    

    <welcome-calculator ng-show="welcome"></welcome-calculator>
    <savings-calculator ng-show="savings"></savings-calculator>
    <interest-calculator ng-show="interest"></interest-calculator>
    <mortgage-calculator ng-show="mortgage"></mortgage-calculator>
    <creditcard-calculator ng-show="creditCard"></creditcard-calculator>
        

    </ion-content>

</ion-view>