<div class="savingsCalcWrapper">

<div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{test}}</a>
    <div class="helpButton">
    <div class="roundbtn" style="border: 0px !important;"ng-click="openHelp()">
        <img src="img/help.png" alt="Calculators" style="width:4vh;height:4vh;">
    </div>
    
</div>


</div>

<div class="headerLine"></div>

<div></div>
<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">What is your savings goal?</a>
    </div>
 <div class="calcInput">
            <input type="number"  placeholder="£" ng-model="savingsGoalValue" pattern="\d*">
 </div>
</div>


<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">How much have you already saved?</a>
    </div>
     <div class="calcInput">
            <input type="number" placeholder="£" ng-model="alreadySavedValue" min="1" pattern="\d*">
      
    </div>
</div>

<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">How much can you save per month?<span style="color: lightgrey"> (£)</span></a>
    </div>
    <rzslider rz-slider-model="savingSlider.value"
          rz-slider-high="savingSlider.maxValue"
          rz-slider-options="savingSlider.options"></rzslider>
</div>





<button class="button button-block button-positive calculatorButtonTablet" ng-click="openSavingsCalc()" ng-disabled="!savingsGoalValue || !alreadySavedValue || savingsGoalValue < slider1.value || savingsGoalValue < alreadySavedValue">Calculate</button>



</div>