<div class="savingsCalcWrapper">

<div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{header}}</a>
</div>

<div class="headerLine"></div>

<div></div>
<div class="savingsSlider">
    <a class="calcBodyText">What is your savings goal? <span style="color: lightgrey"> (in £)</span></a>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="number" style = "font-size: 0.8em" placeholder="Savings Goal (in £)" ng-model="savingsGoalValue" pattern="\d*" min="1">
        </label>
    </div>
</div>

<div class="savingsSlider">
    <a class="calcBodyText">How much can you save per month? <span style="color: lightgrey"> (in £)</span></a>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="number" style = "font-size: 0.8em" placeholder="Savings Per Month (in £)" ng-model="perMonthValue" pattern="\d*" min="1">
        </label>
    </div>
</div>

<div class="savingsSlider">
    <a class="calcBodyText">How much have you already saved? <span style="color: lightgrey"> (in £)</span></a>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="number" style = "font-size: 0.8em" placeholder="Already Saved (in £)" ng-model="alreadySavedValue" pattern="\d*" min="0">
        </label>
    </div>
</div>

<div class="buttonWrapper">
<div class="helpButton">
    <button class="roundbtn" style="border: 0px !important;"ng-click="openHelp()">
        <b class = "icon icon ion-help"></b>
    </button>
    
</div>


<button class="calculateButton" ng-click="openSavingsCalc()">
    CALCULATE
</button>
</div>


</div>