<div class="savingsCalcWrapper">

<div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{test}}</a>
</div>

<div class="headerLine"></div>

<div></div>

<div class="savingsSlider">
    <a class="calcBodyText">How much have you currently saved? <span style="color: lightgrey"> (in £)</span></a>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="number" placeholder="Current Savings (in £)" ng-model="currentlySaved" pattern="\d*">
        </label>
    </div>
</div>

<div class="savingsSlider">
    <a class="calcBodyText">What is your annual interest rate? <span style="color: lightgrey"> (in %)</span></a>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="number" placeholder="Annual Interest Rate (in %)" ng-model="interestRate">
        </label>
    </div>
</div>

<div class="savingsSlider">
    <a class="calcBodyText">Calculation period? <span style="color: lightgrey"> (in years)</span></a>
    <rzslider rz-slider-model="slider1.value"
          rz-slider-high="slider1.maxValue"
          rz-slider-options="slider1.options"></rzslider>
</div>

<div class="buttonWrapper">
<div class="helpButton">
    <button class="roundbtn" style="border: 0px !important;" ng-click="openHelp()">
        <b class = "icon icon ion-help"></b>
    </button>
</div>


<button class="calculateButton" ng-click="openInterestCalc()">
    CALCULATE
</button>

</div>

</div>