<div class="savingsCalcWrapper">

    <div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{test}}</a>
    <div class="helpButton">
    <div class="roundbtn" style="border: 0px !important;"ng-click="openHelp()">
        <img src="img/help.png" alt="Calculators" style="width:4vh;height:4vh;">
    </div>
    </div>
    </div>

    <div class="headerLine"></div>

<div>
   <p class = calcBodyText style="padding: 0vh 2vw"> With our calculators you can:</p>
</div>

<div class="calcIconWrapper">
    <div class="calcIcon">
        <img src="img/saving.png" alt="Content & Quizes" style="width:10vh;height:10vh; margin-top:1vh;">
    </div>
    <div class="calcText">
        Set Saving Goals
    </div>
</div>

<div class = "calcIconWrapper">
    <div class="calcIcon">
        <img src="img/interest.png" alt="Content & Quizes" style="width:9vh;height:9vh; margin-top:1.5vh;">
    </div>
    <div class="calcText">
        Calculate Interest
    </div>
</div>

<div class="calcIconWrapper">
    <div class="calcIcon">
        <img src="img/mortgage.png" alt="Content & Quizes" style="width:9vh;height:9vh; margin-top:2vh;">
    </div>
    <div class="calcText2">
        Compare Mortgages
    </div>
</div>
<div class="welcomeText">
<p class = calcBodyText> Use the bar at the top to select which calculator you wish to use</p> 
</div>

</div>