<div class="savingsCalcWrapper">

<div>
   <p class = calcBodyText> With our calculators you can:</p>
</div>

<div class="calcIconWrapper">
    <div class="calcIcon">
        <img src="img/saving.png" alt="Content & Quizes" style="width:12vh;height:12vh;">
    </div>
    <div class="calcText">
        Set Saving Goals
    </div>
</div>

<div class = "calcIconWrapper">
    <div class="calcIcon">
        <img src="img/interest.png" alt="Content & Quizes" style="width:12vh;height:12vh;">
    </div>
    <div class="calcText">
        Calculate Interest
    </div>
</div>

<div class="calcIconWrapper">
    <div class="calcIcon">
        <img src="img/mortgage.png" alt="Content & Quizes" style="width:12vh;height:12vh;">
    </div>
    <div class="calcText2">
        Work out remortgage payments
    </div>
</div>
 <p class = calcBodyText> Use the bar at the top to select which calculator you wish to use</p>

</div>