<div class="welcomeScreenWrapper">

<div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{test}}</a>
</div>

<div class="headerLine"></div>

<div></div>

<div class="savingsSlider">
    <a class="calcBodyText">Hello, and welcome to the calculator section of the <b>Financial Inclusion Application</b>.
        These calculators will firstly help to give you a better understanding of how savings and mortgages work and
        will secondly allow you to calculate savings using interest rates as well as calcualte mortgage repayments.
        <br>
        <br><b><u>Savings Calculator</u></b><br>
        This handy calculator will help to you calculate your savings goal based on how much you are prepared to save per month!
        <br><br><b><u>Interest Calculator</u></b><br>
        Wondering how much interest your savings will generate? You can calcualte that information here by using your interest rates.
        <br><br><b><u>Mortgage Calculator</u></b><br>
        Thinking of taking out a mortgage? This calcualtor will help you calculate the repayments over your chosen time period.

    </a>
</div>

</div>