<div class="savingsCalcWrapper">

<div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{test}}</a>
    <div class="helpButton">
    <button class="roundbtn" style="border: 0px !important;"ng-click="openHelp()">
        <b class = "icon icon ion-help"></b>
    </button>
    
</div>

</div>

<div class="headerLine"></div>

<div></div>

<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">Amount you want to recieve?</a>
    </div>
    <div class="calcInput">
            <input type="text" placeholder="£" ng-model="desiredAmount" pattern="\d*" min="1">

    </div>
</div>

<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">Interest rate</a>
    </div>
    <div class="calcInput">
            <input type="text" placeholder="%" ng-model="interestRate" min="0.01">

    </div>
</div>

<div class="savingsSlider">
    <div class="calcTextAbove">
    <a class="calcBodyText">Mortgage period?<span style="color: lightgrey"> (in years)</span></a>
    </div>
    <rzslider rz-slider-model="slider2.value"
        rz-slider-high="slider2.maxValue"
        rz-slider-options="slider2.options"></rzslider>
</div>

<button class="button button-block button-positive" type="submit">Calculate</button>