<ion-modal-view class="trophyContainer">
    <ion-header-bar class="trophyHeading">
        <h1 class="title tabletModal">CreditCard Result</h1>
        <div class="buttons">
            <i class = "icon icon ion-close-circled modalCloseButton" ng-click="closeCreditCardCalc()"></i>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="savingsGoalWrapper">
            Time to pay off credit card:
            <div class="savingsGoalAmount">{{result}} months</div>
            </div>
            <div class="savingsGoalWrapper">
            Total interest paid:
            <div class="savingsGoalAmount">£{{totalAmount | number : 2}}</div>
            </div>
            
           
        </div>
    </ion-content>
</ion-modal-view>