<ion-view view-title="{{name}}">
    <ion-nav-buttons side="right">
      <button class="button" style="border: 0px !important;">
        <b class = "icon icon ion-calculator"></b>
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        Select a Calculator:
             
    <div class = "row" style="margin-bottom:5vh;">
        <button ng-click="makeActive('savings')" ng-class="{true: 'col calculatorButtons2', false: 'col calculatorButtons'}[isActiveSavings]"><a   ng-class="{true: 'calculatorButtonsText2', false: 'calculatorButtonsText'}[isActiveSavings]">Savings</a></button>
        <button ng-click="makeActive('interest')" ng-class="{true: 'col calculatorButtons2', false: 'col calculatorButtons'}[isActiveInterest]"><a   ng-class="{true: 'calculatorButtonsText2', false: 'calculatorButtonsText'}[isActiveInterest]">Interest</a></button>
        <div class = "col calculatorButtons" id="button3"><a class="calculatorButtonsText">Mortgage</a></div>
    </div>

    <savings-calculator ng-show="savings"></savings-calculator>
    <interest-calculator ng-show="interest"></interest-calculator>
        

    </ion-content>

</ion-view>