<ion-modal-view class="calAnswer2Container">
    <ion-header-bar class="trophyHeading">
        <h1 class="title tabletModal">Saving Result</h1>
        <div class="buttons">
            <i class = "icon icon ion-close-circled modalCloseButton" ng-click="closeSavingsCalc()"></i>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="savingsGoalWrapper">
            Goal
            <div class="savingsGoalAmount">£{{savingsGoalValue}}</div>
            </div>
            <div class="savingsTextWrapper justified">
                If you have £{{alreadySavedValue}} already saved in your bank account,
                and you set aside just £{{savingSlider.value}} per month, you will reach your goal in:
            </div>
            <div ng-if="numYears > 0" class="savingsGoalTimeWrapper"> {{numYears}} Years,<br>{{numMonths}} Months.</div>
            <div ng-if="numYears < 1" class="savingsGoalTimeWrapper">{{numMonths}} Months.</div>

<div class = "retryButton">
            <button class="button button-block button-positive tabletButtonText2 retryButtonTablet" ng-click="closeSavingsCalc()">
                Retry
            </button>
</div>
        </div>
    </ion-content>
</ion-modal-view>