<div class="savingsCalcWrapper">

<div style="text-align:center; margin-bottom:2vh;">
    <a class="headingText">{{test}}</a>
</div>

<div class="headerLine"></div>

<div></div>

<div class="savingsSlider">
    <a class="calcBodyText">Amount you want to recieve?<span style="color: lightgrey"> (in £)</span></a>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Amount (in £)">
        </label>
    </div>
</div>

<div class="savingsSlider">
    <a class="calcBodyText">Interest Rate<span style="color: lightgrey"> (in %)</span></a>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Interest Rate (in %)">
        </label>
    </div>
</div>

<div class="savingsSlider">
    <a class="calcBodyText">Time Period?<span style="color: lightgrey"> (in years)</span></a>
    <rzslider rz-slider-model="slider2.minValue"
        rz-slider-high="slider2.maxValue"
        rz-slider-options="slider2.options"></rzslider>
</div>

<div class="helpButton">
    <button class="roundbtn" style="border: 0px !important;"ng-click="openHelp()">
        <b class = "icon icon ion-help"></b>
    </button>
</div>

<div class="calculateButton">
    Calculate
</div>

</div>