<div class="savingsCalcWrapper">
<div style="text-align:center; margin-bottom:2vh;">
    
<a class="headingText">{{test}}</a>
</div>
<div class="headerLine">
</div>
<div>


</div>
<div class="savingsSlider">
    <a class="calcBodyText">Amount you want to save? <span style="color: lightgrey"> £</span></a>
<rzslider rz-slider-model="slider3.minValue"
          rz-slider-high="slider3.maxValue"
          rz-slider-options="slider4.options"></rzslider>

         

</div>
<div class="savingsSlider">
 <a class="calcBodyText">For how long? <span style="color: lightgrey"> years</span></a>
<rzslider rz-slider-model="slider4.minValue"
          rz-slider-high="slider4.maxValue"
          rz-slider-options="slider4.options"></rzslider>
</div>

<div class="calculateButton">
    Calculate
</div>

</div>