<ion-view view-title="{{name}}" ng-init="init()">
  <ion-nav-buttons side="right">
    <button class="button" style="border: 0px !important;">
        <b class = "icon icon ion-university"></b>
      </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    
    <div class="card" ng-repeat="category in categories" ng-click="launchCategory(category.ID)">
      <div class="item item-text-wrap">
        <h1 class="centered">{{category.name}}</h1>
        <progress max="100" value={{category.progress}} />
      </div>
    </div>

  </ion-content>
</ion-view>
