<ion-view view-title="{{name}}">
  <ion-nav-buttons side="right">
    <button class="button" style="border: 0px !important;">
        <b class = "icon icon ion-university"></b>
      </button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
    
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page ng-repeat="page in sections">
        <div class="box blue">
          <h1>{{page}}</h1>
        </div>
      </ion-slide-page>
    </ion-slides>
  
  </ion-content>
</ion-view>
