<ion-view hide-nav-bar="true" view-title="{{name}}">
    <ion-content>
        <header-bar></header-bar>
        <div class="row">
            <a href="#/categories">
                <div class="homePageTiles homePageContentDiv">  
                    <i class="icon icon ion-university homePageIcon"></i><br>
                    Content
                </div>
            </a>
        </div>
        <div class="homePageTips row">
            <tip-component></tip-component>
        </div>
        <div class="row">
            <div class="col">
                <a href="#/categories">
                    <div class="homePageTiles homePageCalcDiv">  
                        <i class="icon icon ion-calculator homePageIcon"></i><br>
                        Calculator
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#/categories">
                    <div class="homePageTiles homePageInfoDiv">  
                        <i class="icon icon ion-information-circled homePageIcon"></i><br>
                        Information
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>