<ion-view hide-nav-bar="true" view-title="{{name}}">
    <ion-content>
        <header-bar></header-bar>
        
            <a href="#/categories">
                <div class="homePageTiles contentTile homePageContentDiv">  
                    <i class="icon icon ion-university homePageIcon"></i><br>
                    <a class="tileFonts">Content</a>
                </div>
            </a>
       
        <div>
            <tip-component></tip-component>
        </div>
        <div class="row">
            <div class="col">
                <a href="#/categories">
                    <div class="homePageTiles homePageCalcDiv">  
                        <i class="icon icon ion-calculator homePageIcon"></i><br>
                         <a class="tileFonts">Calculator</a>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#/categories">
                    <div class="homePageTiles homePageInfoDiv">  
                        <i class="icon icon ion-information-circled homePageIcon"></i><br>
                         <a class="tileFonts">Information</a>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>