<ion-modal-view class="userProfileContainer">
    <ion-header-bar class="trophyHeading">
        <h1 class="title">Change Avatar</h1>
        <div class="buttons">
            <i class = "icon icon ion-close-circled modalCloseButton" ng-click="closeChangePhoto()"></i>
        </div>
    </ion-header-bar>
    <ion-content>
        
        <div class="padding">
            <div class="userAvatars">
                <img class="changeAvatarSize" ng-src="img/angus.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/cammy.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/liam.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/stuart.png" ng-click="updateUserProfile()">
                    
                <img class="changeAvatarSize" ng-src="img/image1.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/image2.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/image3.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/image4.png" ng-click="updateUserProfile()">
                    
                <img class="changeAvatarSize" ng-src="img/image5.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/image6.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/image7.png" ng-click="updateUserProfile()">
                <img class="changeAvatarSize" ng-src="img/image8.png" ng-click="updateUserProfile()">
            </div>
            <div class="buttonWrapper">
            <button class="button button-block button-positive" ng-click="closeChangePhoto()">
                Update photo
            </button>
            </div>
            
        </div>
    </ion-content>
</ion-modal-view>
