<ion-modal-view class="userProfileContainer">
    <ion-header-bar class="trophyHeading">
        <h1 class="title tabletModal">Change Avatar</h1>
            <i class = "icon icon ion-close-circled modalCloseButton closeButton" ng-click="closeChangePhoto()"></i>
    </ion-header-bar>
    <ion-content>
        
        <div class="padding">
            <div class="userAvatars">
                <img class="changeAvatarSize" ng-src="img/avatar1.png" ng-click="updateImage('img/avatar1.png')">
                <img class="changeAvatarSize" ng-src="img/avatar2.png" ng-click="updateImage('img/avatar2.png')">
                <img class="changeAvatarSize" ng-src="img/avatar3.png" ng-click="updateImage('img/avatar3.png')">
                <img class="changeAvatarSize" ng-src="img/avatar4.png" ng-click="updateImage('img/avatar4.png')">
                    
                <img class="changeAvatarSize" ng-src="img/avatar5.png" ng-click="updateImage('img/avatar5.png')">
                <img class="changeAvatarSize" ng-src="img/avatar6.png" ng-click="updateImage('img/avatar6.png')">
                <img class="changeAvatarSize" ng-src="img/avatar7.png" ng-click="updateImage('img/avatar7.png')">
                <img class="changeAvatarSize" ng-src="img/avatar8.png" ng-click="updateImage('img/avatar8.png')">
                    
                <img class="changeAvatarSize" ng-src="img/avatar9.png" ng-click="updateImage('img/avatar9.png')">
                <img class="changeAvatarSize" ng-src="img/avatar10.png" ng-click="updateImage('img/avatar10.png')">
                <img class="changeAvatarSize" ng-src="img/avatar11.png" ng-click="updateImage('img/avatar11.png')">
                <img class="changeAvatarSize" ng-src="img/avatar12.png" ng-click="updateImage('img/avatar12.png')">
            </div>
            <div class="buttonWrapper userButtonPadding">
            <button class="button button-block button-positive tabletButtonText2" ng-click="closeChangePhoto()">
                Update Avatar
            </button>
            </div>
            
        </div>
    </ion-content>
</ion-modal-view>
