<ion-view view-title="{{name}}">
  <ion-nav-buttons side="right">
    <button class="button" style="border: 0px !important;">
            <b class = "icon ion-ios-telephone"></b>
        </button>
  </ion-nav-buttons>
  <ion-content class="padding informationText">
    <div class="list">
      <div ng-repeat="num in numbersList" class="item item-icon-right informationText" ng-click="showDetails = ! showDetails">
        <a ng-href="tel:{{num.number}}" ng-click="callingNumber()"><i class="icon ion-ios-telephone informationText"></i></a> {{num.name}}
        <div class="quiz-Answer-Display informationText" ng-class="{'hidden':!showDetails}">
          <hr> {{num.blurb}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
