<ion-view view-title="{{name}}">

    <ion-nav-buttons side="right">
        <button class="button" style="border: 0px !important;">
            <b class = "icon ion-earth"></b>
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
            <!--<div class="list">
                <a ng-repeat="link in externalLinksList"class="item item-icon-right" ng-href="{{link.website}}" target="_blank">
                    <i class="icon ion-ios-arrow-right"></i>
                    {{link.name}}
                </a>
            </div>
            COULD BE CHANGED TO USE DYNAMIC ANGULARJS VARIABLES - http://stackoverflow.com/questions/34150840/inappbrowser-passing-a-callback-function

            
            <hr>
            -->
            

            <div class="list">
      <div ng-repeat="link in externalLinksList" class="item item-icon-right informationText" ng-click="showDetails = ! showDetails">
    <i class="icon ion-earth informationText" ng-click="navigateToWebsite(link)"> </i> {{link.name}}
        <div class="quiz-Answer-Display informationText" ng-class="{'hidden':!showDetails}" >
          <hr> {{link.blurb}}
          <br>
        </div>
      </div>
    </div>

    </ion-content>
</ion-view>