<ion-view view-title="{{name}}">

    <ion-nav-buttons side="right">
    <button class="button" style="border: 0px !important;">
            <b class = "icon ion-help-buoy"></b>
    </button>
    
    </ion-nav-buttons>
    <ion-content class="padding informationText">
        This application is maintained and supported by the NHS, the Glasgow Children's Hospital Charity, Scottish Financial Education Group, the University of 
        Strathclyde and Morgan Stanley.
        </br></br>
        More help would go here.
    </ion-content>
</ion-view>