<ion-view view-title="{{name}}">
  <ion-nav-buttons side="right">
    <button class="button" style="border: 0px !important;">
        <b class = "icon icon ion-ribbon-a"></b>
      </button>
  </ion-nav-buttons>
  <ion-content class="padding has-footer">
    <!--Display multiple choice questions-->
    <div class = "padding" ng-if="activeQuestion.questionType == 'multipleChoice'">
        <h1 class="centered">Question: {{questionIndex + 1}}</h1>
        <h2 class="justified">{{activeQuestion.questionText}}</h2>
        <ion-list>
            <ion-radio ng-repeat="answer in activeQuestion.answers" ng-model="userAnswers.currentAnswer" ng-value="$index">{{answer}}</ion-radio>
        </ion-list>
    </div>
    <div ng-if="activeQuestion.questionType == 'choosePicture'">
        Woo pictures
    </div>
  </ion-content>
  <ion-footer-bar class="bar-calm">
      <button ng-disabled="questionIndex==0" ng-click="previousQuestion()" class="button button-dark">
          Back
      </button>

      <button style="float:right" ng-if="questionIndex !=quizData.questions.length -1" ng-disabled="userAnswers.currentAnswer==-1" ng-click="nextQuestion()" class="button button-dark">
          Forward
      </button>

      <button ng-click="navigateToAnswers()" ng-if="questionIndex==quizData.questions.length -1" ng-disabled="userAnswers.currentAnswer==-1"  class="button button-dark">
           Complete Quiz
      </button>

    </ion-footer-bar>
</ion-view>
