<ion-view>
    <ion-nav-title>{{name}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" style="border: 0px !important;">
<b class="icon icon ion-help"></b>
</button>
</ion-nav-buttons>
<ion-content class="padding">
    <h1 class="centered">
        Quiz Results
    </h1>
    <h2 class="centered">
        You got {{correctDisplay}}% 
    </h2>
    <h4 ng-if="correctDisplay<70" class="centered">
        Better Luck Next Time! 
    </h4>
    <h4 ng-if="correctDisplay>69 && correctDisplay<100" class="centered">
        Well Done! So Close To 100%
    </h4>
    <h4 ng-if="correctDisplay==100" class="centered">
        Amazing! Well Done!
    </h4>
    <ul class="list">
        <li class="item quiz-Answer-Display-Text justified" ng-class="data.answerTracker[$index] ? 'quiz-Answer-True-Container' : 'quiz-Answer-False-Container'" ng-repeat="questions in quizData.questions" ng-click="showDetails = ! showDetails">
            <div class="row">
                <div class="col col-75">
                    <h2 class="quiz-Answer-Display-Text">Question Number {{$index+1}}</h2>
                </div>
                <div class="col">
                    <div class="centered" ng-if="data.answerTracker[$index]">
                        <b class="icon icon ion-checkmark-round"></b>
                    </div>
                    <div class="centered" ng-if="!data.answerTracker[$index]">
                        <b class="icon icon ion-close-round"></b>
                    </div>
                </div>
            </div>
            
            <div class="quiz-Answer-Display" ng-class="{'hidden':!showDetails}">
                <hr>
                <p>
                     <h2>Question:</h2> 
                     {{questions.questionText}}
                </p>
                <br>
                <span ng-if= "quizData.questions[$index].questionType == 'multipleChoice'">
                    <h2>You Answered:</h2>
                    {{questions.answers[data.previousAnswers[$index]]}}<br>
                    <span class="italic">{{questions.reason[data.previousAnswers[$index]]}}</span>
                </span>
                <span ng-show= "quizData.questions[$index].questionType == 'choosePicture'">
                    <h2>You Answered:</h2>
                    <div class=""><img class="quiz-Image" ng-src="img/{{questions.answers[data.previousAnswers[$index]]}}"></div>
                    <br>
                    <span class="italic">{{questions.reason[data.previousAnswers[$index]]}}</span>
                </span>               
            </div>
        </li>
    </ul>
    <div>
        <a ng-href="#/quiz/{{quizPath}}">
            <button style="float:left" ng-disabled="correctPercentage==1" class="button button-dark" >
                Retake Quiz
            </button>
        </a>

        <a ng-href="#/">
            <button style="float:right" class="button button-dark">
                Back To Homepage
            </button>
        </a>
    </div>
</ion-content>
</ion-view>