<ion-view cache-view="false">
    <ion-nav-title>{{name}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button" style="border: 0px !important;">
        <b class = "icon icon ion-ribbon-a"></b>
      </button>
  </ion-nav-buttons>
  <ion-content class="padding has-footer">
    <!--Display multiple choice text questions-->
    <div class = "padding" ng-if="activeQuestion.questionType == 'multipleChoice'">
        <h4 class="questionNumber">Question {{questionIndex + 1}}</h4>
        <hr class="questionBar">
        <h3 class="questionTitle">{{activeQuestion.questionText}}</h3>
        <ion-list>
            <ion-radio class="item-text-wrap quizAnswers" ng-repeat="answer in activeQuestion.answers" ng-model="userAnswers.currentAnswer" ng-value="$index">{{answer}}</ion-radio>
        </ion-list>
    </div>
    <!--Display multiple choice picture questions-->
    <div ng-if="activeQuestion.questionType == 'choosePicture'">
        <h4 style="color:#387ef5;font-weight:bolder">Question {{questionIndex + 1}}</h4>
        <hr class="questionBar">
        <h3 class="questionTitle">{{activeQuestion.questionText}}</h3>
        <ion-list>
            <ion-radio ng-repeat="answer in activeQuestion.answers" ng-model="userAnswers.currentAnswer" ng-value="$index"><div class="quizPictureMargin"><img class="quiz-Image quizPictureAnswer" ng-src="img/{{answer}}"></div></ion-radio>
        </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-calm">
      <button ng-disabled="questionIndex==0" ng-click="previousQuestion()" class="button button-dark">
          Back
      </button>

      <button style="float:right" ng-if="questionIndex !=quizData.questions.length -1" ng-disabled="userAnswers.currentAnswer==-1" ng-click="nextQuestion()" class="button button-dark">
          Forward
      </button>

      <button ng-click="navigateToAnswers()" ng-if="questionIndex==quizData.questions.length -1" ng-disabled="userAnswers.currentAnswer==-1"  class="button button-dark">
           Complete Quiz
      </button>

    </ion-footer-bar>
</ion-view>
