<ion-view view-title="{{name}}">
  <ion-nav-buttons side="right">
    <button class="button" style="border: 0px !important;">
        <b class = "icon icon ion-help"></b>
      </button>
  </ion-nav-buttons>
  <ion-content class="padding has-footer">
      {{data}}
  </ion-content>
  <ion-footer-bar class="bar-calm">
      <button class="button button-dark">
          Retake Quiz
      </button>

      <button class="button button-dark">
           Back to categories
      </button>

    </ion-footer-bar>
</ion-view>