<ion-modal-view class="subCategoriesModal">
  <ion-header-bar class="subCategoriesModalHeading">
    <h1 class="title tabletModal">Subcategories</h1>
      <i class="icon icon ion-close-circled modalCloseButton closeButton" ng-click="closeModal()"></i>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <a class="subcategoriesLink" ng-href="#/content/{{subcategory.url}}/{{subcategory.title}}" ng-click="closeModal()"  ng-repeat="subcategory in modalSubCategories"> 
      <li class="item item-icon-right">
        <i ng-if="subcategory.progress == 100" class="icon ion-checkmark-round"></i>
        {{subcategory.title}}
      </li>
      </a>
    </ul>
  </ion-content>
</ion-modal-view>
