<ion-modal-view class="subCategoriesModal">
  <ion-header-bar class="subCategoriesModalHeading">
    <h1 class="title">Subcategories</h1>
    <div class="buttons">
      <i class="icon icon ion-close-circled modalCloseButton" ng-click="closeModal()"></i>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-icon-right" ng-repeat="subcategory in modalSubCategories">
        <i class="icon ion-checkmark-round"></i>
        {{subcategory}}
      </li>
    </ul>
  </ion-content>
</ion-modal-view>
